.element {
    border-right: 1px solid;
    border-bottom: 1px solid;
    height: 18vh;
}

.today {
    border-radius: 50%;
    background-color:#f796f0;
}

.schedules {
    overflow: scroll;
    height: calc(18vh - 40px);
  }