.container {
    height: 90vh;
}

.glid {
    border-left: 1px solid;
    border-top: 1px solid;
}

.day {
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding-top: 10px;
}

.element{
    border-right: 1px solid;
    border-bottom: 1px solid;
    height: 18vh;
}
